@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Bubblegum+Sans&family=Roboto:wght@400;500&display=swap');

/*---- Question Box Styling ---- */
#question {
  display: flex;
  margin-bottom: 1rem;
  padding: 1.5rem;
  width: 100%;
  font-size: 3rem;
  border: 0.2rem solid black;
  border-radius: 20px;
  background-color: white;
}

/*---- Question Choice Styling ----*/
.choice-container {
  display: flex;
  margin-bottom: 0.8rem;
  width: 100%;
  font-size: 3rem;
  border: 0.2rem solid black;
  border-radius: 20px;
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(162, 125, 172, 1);
  transform: scale(1.02);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
 
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

/* ---- Correct/Incorrect answer colours ---- */
.correct {
    background: linear-gradient(32deg, rgb(131, 207, 140) 0%, rgb(143, 221, 172) 100%); 
}

.incorrect {
    background: linear-gradient(32deg, rgb(221, 87, 87) 0%, rgb(233, 107, 107) 100%);  
}

#hud {
  display: flex;
  justify-content: space-around;
}

.hud-item{
  display: flex;
  margin-bottom: 1rem;
  padding: 1.5rem;
  font-size: 3rem;
  border: 0.2rem solid black;
  border-radius: 20px;
  background-color: white;  
  color: black;  
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
  color: black;
  font-size: 2rem;
}